<div id="video12" *ngIf="show">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <iframe [src]='videoUrl()' width="100%" height="360px" allowfullscreen="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Video Information</h5>
            <p class="card-text">User: {{ video.snippet.channelTitle }}</p>
            <p class="card-text">Title: {{ video.snippet.title }}</p>
            <p class="card-text">Views: {{ video.statistics.viewCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
